body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.homepage {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: .1;
  background-image: url('https://i.imgur.com/FvJTGNO.jpg');
  background-size:100% 100%;
  background-repeat: no-repeat;
}

.landing-option {
  color: white; 
  padding: .5%;
}